.rankingBg {
  background-image: url('./hehefeed.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
}

.rankingContainer {
  grid-row: 2;
}

.rankingBg a{
  grid-row: 1;
  align-self: center;
}

.rankingCards {
  align-self: center;
  background-color: #80808033;
  backdrop-filter: blur(4px) hue-rotate(45deg);
  box-shadow: black 2px 2px 10px 5px, black -2px -2px 10px 5px;
  display: inline-grid;
  height: 20vh;
  margin-bottom: 2vh;
  margin-left: 5vh;
  width: 40vh;
}

.rankingImg {
  height: 5vh;
}

.rankingName {
  align-self: center;
  color: #ffdead9e;
  font-size: 3vh;
  font-weight: 700;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  text-shadow: black 2px 1px 5px;
}

.rankingScore {
  align-self: baseline;
  color: #ffdead9e;
  font-size: 2vh;
  font-weight: 700;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  text-shadow: black 2px 1px 5px;
}

.rankingHeader {
  align-self: center;
  grid-row: 1;
  justify-self: center;
  margin-top: 0;
}
