@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap') ;

* {
  font-family: Permanent Marker , cursive;
}

body {
  background-color: #000000f0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

input, button {
  outline: none;
}
